/* font-family: 'Crimson Text', serif; */

body {
  background: black;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/herocover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}

h1 {
  font-family: "Roboto Serif", serif;
  font-size: 124px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

p {
  font-family: "Pridi", serif;
}

h2 {
  font-family: "Roboto Serif", serif;
}

h3 {
  font-family: "Crimson Text", serif;
}

.hero h2 {
  font-family: "Pridi", serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.hero a {
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  font-family: "Pridi", serif;
  font-size: 14px;
  letter-spacing: 3px;
  background: #fff;
  width: 120px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 170px;
  margin: 0 auto;
}

.grid-2-col img {
  margin-right: 50px;
}

.grid-2-col h3 {
  color: #262626;
  font-family: Roboto Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
  opacity: 0.3;
  margin: 0;
}

.grid-2-col h2 {
  color: #30392f;
  font-family: "Crimson Text", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
}

.grid-2-col p {
  color: #000;
  font-family: "Pridi", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main {
  background-color: white;
}

footer {
  color: white;
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1400px;
  margin: 0 auto;
}

footer h3 {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

footer p,
li {
  font-family: "Pridi", serif;
  font-size: 16px;
}

footer ul {
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

footer li {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

.grid-2-col section {
  margin: 0 auto;
  padding: 100px 0;
}

.secondary {
  background: #f4f4f4;
  padding: 80px;
  text-align: center;
}

.secondary img {
  width: 392px;
}

.secondary p {
  margin: 30px;
  text-align: left;
  color: #161616;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.secondary h2 {
  color: #30392f;
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.secondary h3 {
  color: #262626;
  text-align: center;
  font-family: Roboto Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
  opacity: 0.3;
  margin: 0;
}

.sec-titles {
  padding-top: 40px;
  padding-bottom: 80px;
  line-height: 20px;
}

.sec-titles h2 {
  font-family: "Crimson Text";
}

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.card {
  background: white;
  padding-bottom: 30px;
}

.card h2 {
  color: #30392f;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
}

.card p {
  color: #161616;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card a {
  background: #30392f;
  width: 240px;
  height: 22px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  font-family: "Pridi", serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  .hero h1 {
    font-size: 62px;
  }

  .hero h2 {
    font-size: 17px;
  }

  .hero a {
    width: 60px;
    font-size: 10px;
  }

  .grid,
  .grid-2-col {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 50px;
  }

  .grid-2-col img {
    height: 380px;
    width: 400px;
    margin: 0 auto;
  }
}
